@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/*remove number/arrow */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
    background: #eaeaea;
    font-family: "Ruda", sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size: 13px;
}

ul li {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}
::selection {
    background: #4ecdc4;
    color: #fff;
}
::-moz-selection {
    background: #4ecdc4;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/*
 Backgrounds*/

.bg-theme {
    background-color: #4ecdc4;
}

.centered {
    text-align: center;
}
.mt {
    margin-top: 25px;
}

.mb {
    margin-bottom: 25px;
}
/*Exclusive Theme Colors Configuration*/

.label-theme {
    background-color: #4ecdc4;
}

.bg-theme {
    background-color: #4ecdc4;
}

/* button */
.btn-theme03 {
    color: #fff;
    background-color: #48cfad;
    border-color: #37bc9b;
}
.btn-theme03:hover,
.btn-theme03:focus,
.btn-theme03:active,
.btn-theme03.active,
.open .dropdown-toggle.btn-theme03 {
    color: #fff;
    background-color: #37bc9b;
    border-color: #37bc9b;
}

.btn-theme04 {
    color: #fff;
    background-color: #ed5565;
    border-color: #da4453;
}
.btn-theme04:hover,
.btn-theme04:focus,
.btn-theme04:active,
.btn-theme04.active,
.open .dropdown-toggle.btn-theme04 {
    color: #fff;
    background-color: #da4453;
    border-color: #da4453;
}

ul.top-menu > li > .logout {
    color: #f2f2f2;
    font-size: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #64c3c2 !important;
    padding: 5px 15px;
    margin-right: 15px;
    background: #4ecdc4;
    margin-top: 15px;
}
ul.top-menu > li > .lock {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
    margin-top: 15px;
}

ul.top-menu > li > .lock:hover,
ul.top-menu > li > .lock:focus {
    border: 1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
}
/*sidebar navigation*/

#sidebar {
    width: 210px;
    height: 100%;
    position: fixed;
    background: #2f323a;
}

#sidebar h5 {
    color: #f2f2f2;
    font-weight: 700;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/*LEFT NAVIGATION ICON*/
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu,
ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub,
#sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li {
    background: #2f323a;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #aeb2b7;
}

ul.sidebar-menu li ul.sub li a:hover {
    color: white;
    background: transparent;
}

ul.sidebar-menu li ul.sub li.active a {
    color: #4ecdc4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li {
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #aeb2b7;
    text-decoration: none;
    display: block;
    padding: 15px 0 15px 10px;
    font-size: 12px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active,
ul.sidebar-menu li a:hover,
ul.sidebar-menu li a:focus {
    background: #4ecdc4;
    color: #fff;
    display: block;

    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a i {
    font-size: 15px;
    padding-right: 6px;
}

ul.sidebar-menu li a:hover i,
ul.sidebar-menu li a:focus i {
    color: #fff;
}

ul.sidebar-menu li a.active i {
    color: #fff;
}

/* MAIN CONTENT CONFIGURATION */
#main-content {
    margin-left: 210px;
}

.header,
.footer {
    min-height: 60px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
}

.black-bg {
    background: #22242a;
    border-bottom: 1px solid #393d46;
}

a.logo {
    font-size: 24px;
    color: #f2f2f2;
    float: left;
    margin-top: 15px;
    text-transform: uppercase;
}

a.logo b {
    font-weight: 900;
}

a.logo:hover,
a.logo:focus {
    text-decoration: none;
    outline: none;
}

a.logo span {
    color: #4ecdc4;
}

/*notification*/
#top_menu .nav > li,
ul.top-menu > li {
    float: left;
}

.notify-row {
    float: left;
    margin-top: 15px;
    margin-left: 54px;
}

.notify-row .notification span.label {
    display: inline-block;
    height: 18px;
    width: 20px;
    padding: 5px;
}

ul.top-menu > li > a {
    color: #666666;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #666666 !important;
    padding: 2px 6px;
    margin-right: 15px;
}

ul.top-menu > li > a:hover,
ul.top-menu > li > a:focus {
    border: 1px solid #b6b6b6 !important;
    background-color: transparent !important;
    border-color: #b6b6b6 !important;
    text-decoration: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #b6b6b6 !important;
}

.notify-row .badge {
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 100;
}

.dropdown-menu.extended {
    max-width: 300px !important;
    min-width: 160px !important;
    top: 42px;
    width: 235px !important;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
    border: none !important;
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari and Chrome */
    .dropdown-menu.extended {
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
    }
}

.dropdown-menu.extended li p {
    background-color: #f1f2f7;
    color: #666666;
    margin: 0;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    -webkit-border-radius: 4px 4px 0px 0px;
}

.dropdown-menu.extended li p.green {
    background-color: #4ecdc4;
    color: #fff;
}

.dropdown-menu.extended li p.yellow {
    background-color: #fcb322;
    color: #fff;
}

.dropdown-menu.extended li a {
    border-bottom: 1px solid #ebebeb !important;
    font-size: 12px;
    list-style: none;
}

.dropdown-menu.extended li a {
    padding: 15px 10px !important;
    width: 100%;
    display: inline-block;
}

.dropdown-menu.extended li a:hover {
    background-color: #f7f8f9 !important;
    color: #2e2e2e;
}

.dropdown-menu.inbox li a .photo img {
    border-radius: 2px 2px 2px 2px;
    float: left;
    height: 40px;
    margin-right: 4px;
    width: 40px;
}

.dropdown-menu.inbox li a .subject {
    display: block;
}

.dropdown-menu.inbox li a .subject .from {
    font-size: 12px;
    font-weight: 600;
}

.dropdown-menu.inbox li a .subject .time {
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    position: absolute;
    right: 5px;
}

.dropdown-menu.inbox li a .message {
    display: block !important;
    font-size: 11px;
}

.top-nav {
    margin-top: 7px;
}

.top-nav ul.top-menu > li .dropdown-menu.logout {
    width: 268px !important;
}

.top-nav li.dropdown .dropdown-menu {
    float: right;
    right: 0;
    left: auto;
}

.dropdown-menu.extended.logout > li {
    float: left;
    text-align: center;
    width: 33.3%;
}

.dropdown-menu.extended.logout > li:last-child {
    float: left;
    text-align: center;
    width: 100%;
    background: #a9d96c;
    border-radius: 0 0 3px 3px;
}

.dropdown-menu.extended.logout > li:last-child > a,
.dropdown-menu.extended.logout > li:last-child > a:hover {
    color: #fff;
    border-bottom: none !important;
    text-transform: uppercase;
}

.dropdown-menu.extended.logout > li:last-child > a:hover > i {
    color: #fff;
}

.dropdown-menu.extended.logout > li > a {
    color: #a4abbb;
    border-bottom: none !important;
}

.full-width .dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
    color: #50c8ea !important;
}

.dropdown-menu.extended.logout > li > a:hover {
    background: none !important;
}

.dropdown-menu.extended.logout > li > a:hover i {
    color: #50c8ea;
}

.dropdown-menu.extended.logout > li > a i {
    font-size: 17px;
}

.dropdown-menu.extended.logout > li > a > i {
    display: block;
}

.top-nav ul.top-menu > li > a {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px;
    background: none;
    margin-right: 0;
}
.top-nav ul.top-menu > li {
    margin-left: 10px;
}

.top-nav ul.top-menu > li > a:hover,
.top-nav ul.top-menu > li > a:focus {
    border: 1px solid #f1f2f7;
    background: #f1f2f7;
}

.top-nav .dropdown-menu.extended.logout {
    top: 50px;
}

.top-nav .nav .caret {
    border-bottom-color: #a4aaba;
    border-top-color: #a4aaba;
}
.top-nav ul.top-menu > li > a:hover .caret {
    border-bottom-color: #000;
    border-top-color: #000;
}

.log-arrow-up {
    background: url("/backend/img/arrow-up.png") no-repeat;
    width: 20px;
    height: 11px;
    position: absolute;
    right: 20px;
    top: -10px;
}

/*----*/

.notify-arrow {
    border-style: solid;
    border-width: 0 9px 9px;
    height: 0;
    margin-top: 0;
    opacity: 0;
    position: absolute;
    left: 7px;
    top: -18px;
    transition: all 0.25s ease 0s;
    width: 0;
    z-index: 10;
    margin-top: 10px;
    opacity: 1;
}

.notify-arrow-yellow {
    border-color: transparent transparent #fcb322;
    border-bottom-color: #fcb322 !important;
    border-top-color: #fcb322 !important;
}
.notify-arrow-green {
    border-color: transparent transparent #4ecdc4;
    border-bottom-color: #4ecdc4 !important;
    border-top-color: #4ecdc4 !important;
}

/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

/*badge*/
.badge.bg-warning {
    background: #fcb322;
}
.label-theme {
    background-color: #4ecdc4;
}
.mail-info,
.mail-info:hover {
    margin: 0px 6px 0 0;
    font-size: 11px;
    padding: 0.3em 0.6em;
}

/* admin page style */
.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}
.green-panel {
    text-align: center;
    background: #4ecdc4;
}
.green-panel .green-header {
    background: #43b1a9;
    padding: 3px;
    margin-bottom: 15px;
}
.green-panel h5 {
    color: white;
    font-weight: 200;
    margin-top: 10px;
    text-transform: uppercase;
}

.green-panel p {
    color: white;
    font-size: 60px;
    padding-bottom: 15px;
}
.chart {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.chart .heading {
    text-align: left;
}
.chart .heading span {
    display: block;
}
/* data table pagination */
/* TABLES CONF*/
.dataTables_paginate.paging_bootstrap.pagination {
    float: right;
    margin-top: -5px;
    margin-bottom: 15px;
}

.dataTables_paginate {
    padding: 15px 0;
}
.dataTables_paginate.paging_bootstrap.pagination li {
    float: left;
    margin: 0 1px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
ul li {
    list-style: none;
}
.dataTables_paginate.paging_bootstrap.pagination li a {
    color: #797979;
    padding: 5px 10px;
    display: inline-block;
}
.dataTables_paginate.paging_bootstrap.pagination li:hover a,
.dataTables_paginate.paging_bootstrap.pagination li.active a {
    color: #fff;
    background: #4ecdc4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* all-books page style */
.content-panel {
    background: #ffffff;
    box-shadow: 0px 3px 2px #aab2bd;
    padding-top: 15px;
    padding-bottom: 5px;
}
.content-panel h4 {
    margin-left: 10px;
}
.adv-table {
    margin: 0px 5px;
    font-size: 12px;
}
.adv-table table tbody tr td img {
    width: 20px;
    margin: -4px 4px;
}
.adv-table table tbody tr td img:hover {
    transform: scale(3);
    transition: 0.7s;
    margin-left: 11px;
}
.adv-table table tbody tr td a {
    color: #828282;
}
.adv-table table tbody tr td a:hover {
    color: black;
}
/* all-book page */
.form-box {
    margin-top: 20px;
}
.btn-theme02 {
    color: #fff;
    background-color: #ac92ec;
    border-color: #967adc;
    border: none;
}
.btn-theme02:hover,
.btn-theme02:focus,
.btn-theme02:active,
.btn-theme02.active,
.open .dropdown-toggle.btn-theme02 {
    color: #fff;
    background-color: #967adc;
    border-color: #967adc;
}
.form-send button {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    background-color: #4ecdc4;
    border: none;
}
.form-send button:hover {
    width: 150px;
    height: 40px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    background-color: #4ecdc4;
    border: none;
    box-shadow: 3px 3px 4px #8888;
}
/*LOCK SCREEN CONF*/
#showtime {
    width: 100%;
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
    margin-top: 250px;
    display: inline-block;
    text-align: center;
    font-weight: 400;
}

.lock-screen {
    text-align: center;
}

.lock-screen a {
    color: white;
}

.lock-screen a:hover {
    color: #48cfad;
}

.lock-screen i {
    font-size: 60px;
}

.lock-screen .modal-content {
    position: relative;
    background-color: #f2f2f2;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.modal-header h4.modal-title {
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}
.modal-header {
    background: #4ecdc4;
}

.modal-title {
    color: white;
}

/* live-book page */
.live_modal {
    margin: 0px 15px 25px 15px;
}
.college_modal {
    margin: 0px 15px 25px 15px;
}
.Request_modal {
    margin: 0px 15px 25px 15px;
}

/* live-book page */
